
html {
  background-color: #F0ECEE;
  font-family: 'Fira Sans', sans-serif;
  margin: 24px 12px 0 15px;

}



body nav ul {
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  flex-direction: column;

}

nav li {
  margin-left: 2px;
}


nav ul li a {
  color: #88898B;
  display: block;
  text-decoration: none;
  padding-bottom: 10px;

}



.logo {
  color: black;
  font-weight: 600;
  padding-bottom: 25px;
  margin-right: 200px;
  font-size: 22px;
  text-decoration: none;

}

.nav-items {
  list-style-type: none;
}

span {
  color: #FF4850;
}



.button1 {

  width: auto;
  background-color: #FF4850;
  border: none;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  color: white;
}



.button2 {

  width: 100%;
  background-color: #FF4850;
  border: none;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  color: white;

}



a:hover {

  color: #FF4850;

}

.button1:hover {
  background-color: #CCC;
  color: #FF4850;

}

.button2:hover {
  background-color: #CCC;
  color: #FF4850;

}



.p1 {
  font-size: 2em;
  font-weight: 600;
  width: 300px;
}

.p2 {
  color: #88898B;
}







@media only screen and (min-width:768px){
  body{

    margin: 0 auto;
  }

  html{
    background-image: url("bulldog.jpg");
    background-color: #F0ECEE;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px 15px;
  }

  nav ul{
    flex-direction:row;
    justify-content: space-between;

  }


  .button1 {
    position: relative;
    bottom: 20px;
  }

  .button2 {
    width: auto;
  }



  .p1 {
    width: 500px;
  }

  .p2 {
    width: 450px;
  }

  .middle {
    position: relative;
    top: 200px;
  }
