html {
    background-image: url('bulldog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}


nav ul {
    list-style-type: none;
    display: flex;
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    
}

li {
    margin: 10px;
    display: flex;
    
}




span {
    color: red;
}

.items {
    color: green;
    margin-top: 200px;
    
}


