

nav ul {
    color: red;
    list-style-type: none;
    display: flex;
    
}

li {
    margin: 10px;
    display: flex;
    
}

ul {
    margin-left: 1
}


span.me {
    color: red;
}

span.adopt {
    color: red;
}

body {
    background-image: image(bulldo
}

